/* .keyboard {
 
} */

:root {
  --gray: rgb(129, 131, 132);
}

.keyboard {
  display: block;

  height: 200px;
  margin: 0 8px;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.key {
  height: 58px;
  flex: 1;
  width: 44px;
  text-align: center;
  background-color: var(--gray);
  border-radius: 4px;
  margin: 0 6px 0 0;
}

.spacer {
  flex: 0.5;
}

.larger {
  flex: 1.5;
}
